@use 'variables';


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$padding-1;
    box-shadow: 0 2px 10px variables.$shadow-color;
    margin-bottom: 10px;

    .logo {
        font-size: 24px;
        font-weight: variables.$font-dec;
        color: variables.$color-orange;
    }
    .nav-links {
        list-style: none;
        padding: 0;
    
        li {
            display: inline-block;
            margin: 0 10px;
        }
        a {
            text-decoration: none;
            font-weight: variables.$font-dec;
            &:hover {
                color: variables.$color-orange;
            }
        }
    }
}